<div class="ui-g">
  <div class="ui-g-12 ui-md-2">
    <app-menu></app-menu>
  </div>
  <div class="ui-g-12 ui-md-9 ui-g-nopad">
      <div class="ui-g-12">
            <p-breadcrumb [model]="items"></p-breadcrumb>
      </div>  
      
      <div class="ui-g-12">
            <router-outlet></router-outlet>
      </div>
      <div class="ui-g-12">
            <div>Przygotowane przez:</div>            
            <div>Marcin Gąsior 30520
                    Łukasz Koziarski 30583
                    Amadeusz Nowak 30135
                    Łukasz Paszewski 30136
                    Przemysałw Sobol 30204
                    Piotr Kiliński 30020</div>      
      </div>
  </div>
  
</div>